$trellis-primary-color: #315f46 !default;
$trellis-accent-color: #912f27 !default;
$trellis-text-color: #17291f !default;
$trellis-muted-color: #59695e !default;
$trellis-bg-color: #f2f1e8 !default;
$trellis-surface-color: #fbfaf4 !default;
$trellis-border-color: #bdc4b6 !default;
